html {
    height: 100%;
    width: 100%;
  }
  
  button {
    padding: 20px;
    margin: 0 3px;
    border-radius: 9px;
     border:2px solid black;
    cursor: pointer;
  
  }
  
  .row {
    margin: 8px
  }
  
  
  .row input {
    margin: 0;
    padding: 6px 38px;
    border: 2px solid black ;
  }